:root {
    --background-color: #263238;
    --text-color: #ddd;
    --link-color: #90A4AE;
    --hover-link-color: purple;
    --active-link-color: red;
}

body.light-mode {
    --background-color: #ddd;
    --text-color: #333;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s, color 0.5s;
}

.header-title {
    font-size: 4vw;
    font-family: Consolas;
    text-align: center;
}

.centered-text, header {
    text-align: center;
}

table {
    width: 100%;
    font-family: Consolas;
    text-align: center;
}

th {
    height: 150px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--hover-link-color);
}

.mode-toggle {
    display: block;
    padding: 10px;
    margin: 20px auto;
    background-color: #ccc;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.mode-toggle:hover {
    background-color: #888;
}
